[submodule "monodepth2"]
	path = monodepth2
	url = https://github.com/nianticlabs/monodepth2
[submodule "ZurichHack2022-Railway-to-heaven-python"]
	path = ZurichHack2022-Railway-to-heaven-python
	url = https://github.com/yohan-hicof/ZurichHack2022-Railway-to-heaven-python
